/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
storage/framework/views/8c0415172e211c5955612df293e9b077.php
storage/framework/views/e2ff64e5c675bcc4db4a7326dfdfa78d.php
storage/framework/views/c95b227f7db219ab26b28b5eaf162190.php
storage/framework/views/ac53eeef6d4544561da9def0f344b466.php
storage/framework/views/2523669b50d8076104dc79b0f7fbc1bc.php
storage/framework/views/814583ab1e5eaa68ded00555b345e044.php
storage/framework/views/43230a2d3d86bba1b4c0b4742f0c6695.php
storage/framework/views/37c84817a79d0c009ef36abb704a5675.php
storage/framework/views/8c0415172e211c5955612df293e9b077.php
